{% if videos|length > 0 %}
    <p style="margin-top: 30px">{{ videos|length }} Vidéos</p>
{% endif %}

<div style="text-align: center; margin: 30px;">
    {% if previous >= 0 %}
        <a style="margin-right: 20px" href="{{ hrefPrevious }}">Page Précédente</a>
    {% endif %}

    {% if next < videos|length %}
        <a href="{{ hrefNext }}">Page Suivante</a>
    {% endif %}
</div>