{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    {% for flash in app.flashes('reset_password_error') %}
        <p>{{ flash }}</p>
    {% endfor %}
    <p>
        Vous allez recevoir un lien pour réinitialiser le mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail regardez dans les spams. <a href="{{ path('app_forgot_password_request') }}">Réessayer</a></p>
{% endblock %}