{% extends 'base.html.twig' %}

{% block title %}Todos{% endblock %}

{% block body %}

    <div {{ react_component('App', {
        username: app.user ? app.user.username : 'anonymous'
    }) }}></div>
{% endblock %}