@import "header";
@import "footer";
@import "videos";
@import "header-right";
@import "menu_and_search";
@import "formulaires";
@import "dark-theme";
@import "toasts";

html, body {
    padding: 0;
    margin: 33px 10px 35px 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Inter, sans-serif;

    * {
    scrollbar-color: #346abf white;
    scrollbar-size: 5px;
    }
}
h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 40px;
}
h2, p {
    text-align: center;
}
a {
    color: grey;
    text-decoration: none;
    &:hover {
        color: black;
    }
    &.active {
        color: black;
    }
}

body::-webkit-scrollbar {
    width: 18px;
}
body::-webkit-scrollbar-track {
    background: white;
}
body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 3px;
    border: 1px solid black;
}