@import "header";
@import "footer";
@import "videos";
@import "header-right";
@import "menu_and_search";

html, body {
    padding: 0;
    margin: 33px 10px 25px 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Inter, sans-serif;
}
h1 {
    text-align: center;
    font-size: 32px;
}
h2, p {
    text-align: center;
}