.my-footer {
  position: fixed;
  bottom: 0;
  right: 15px;
  left: 15px;
  background-color: whitesmoke;

  .footer-container {
    display: flex;
    align-content: end;
    align-items: end;
  }
  a {
    text-decoration: none;
    color: grey;
    padding: 0;
    margin: 0 15px 10px 0;

    &:hover {
      color: black;
    }
    &.active {
      color: black;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    scale: .8;
    padding: 0;
    margin: 0;
    transform: translateY(7px) translateX(5px);
  }
}