.my-footer {
  position: fixed;
  bottom: 0;
  right: 15px;
  left: 15px;
  background-color: whitesmoke;
  padding-bottom: 5px;

  .footer-container {
    display: flex;
    align-content: end;
    align-items: end;
  }
  a {
    text-decoration: none;
    color: grey;
    padding: 0;
    margin: 0 15px 10px 0;

    &:hover {
      color: black;
    }
    &.active {
      color: black;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    scale: .8;
    padding: 0;
    margin: 0;
    transform: translateY(7px) translateX(5px);
    cursor: pointer;
  }
  .svg-theme {
    margin: 0 35px 0 auto;
    padding-bottom: 8px;
    width: 26px;
    height: 26px;
    scale: .7;
    transform: translateY(-1px);
    use {
      width: 100%;
      height: 100%;
    }
  }
}