.my-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: lightgray;
  text-align: center;
  box-shadow: 0px -2px 0px 1px rgba(0,0,0,0.83);

  p {
    font-size: 32px;
    color: blue;
    margin: 0;
    padding: 0;
  }
}