.my-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  background-color: whitesmoke;
  height: 35px;
  padding: 20px 0 10px 0;

  .my-navbar {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    a {
      cursor: pointer;
      padding: 10px 10px 5px 10px;
      text-decoration: none;
      color: grey;

      &:hover {
        color: black;
      }

      &.active {
        color: black;
      }
    }
  }
}